#!/usr/bin/env bash

# navigation
alias ..="pushd .."
alias ...="pushd ../.."
alias ....="pushd ../../.."
alias .....="pushd ../../../.."
alias ......="pushd ../../../../.."
alias .......="pushd ../../../../../.."
alias ........="pushd ../../../../../../.."
alias ~="cd ~"

# listing files
alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

# safer rm by default
alias rm="rm -I"

# python
alias py="python3"

# clipboard
alias clip="xclip -select clip"

# disk usage
alias hdu="du -h --max-depth=1"

