#!/usr/bin/env bash

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# listing files
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

